VITE_SUPABASE_URL=tu_url_de_supabase
VITE_SUPABASE_ANON_KEY=tu_anon_key_de_supabase

# Mercado Pago - Credenciales de Prueba
VITE_MERCADOPAGO_PUBLIC_KEY=APP_USR-c095fb37-ef26-43fe-abee-802feef85e30
MERCADOPAGO_ACCESS_TOKEN=APP_USR-5247527903416342-040323-011a15411154235aa21505f4a0d55c1a-3313854526
